/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --primary-color : rgba(50, 88, 255, 0.971);
    --border-radius : 20px;
    --primary-color-font : white;
    --second-color-font : black;
    --cursor : pointer;
    --primary-font : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --border: 1px solid rgba(0, 0, 0, .3); 
    --primary-background : white;
    --secondary-background : #eee5e5;
    --border-radius-icon : 50%;
}

:root.dark {
    --primary-color : rgba(160, 231, 94, 0.971);
    --primary-color-font : black;
    --second-color-font : rgb(255, 255, 255);
    --border: 1px solid var(--primary-color); 
    --primary-background : black;
    --secondary-background : rgb(63, 14, 14);
}

.top {
    background-color: var(--primary-background);
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    border: var(--border);
    border-radius: var(--border-radius) ;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--primary-font);
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-background);
}

.container {
    max-width: 500px;
    margin :10px auto;
}

.alertWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    opacity: 1;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    position: absolute;
    border: 5px solid var(--primary-color);
    background: var(--primary-background);
    font-family: var(--primary-font);
    max-width: 500px;
    height: 250px;
    margin: 0 20px;
    padding: 20px;
}

.alert h2 {
    font-size: 2rem;
}

.alert .button {
    width: 100px;
    text-align: center;
}


.main {
    padding: 20px;
    background-color: var(--primary-background);
    border: var(--border);
    border-radius: var(--border-radius);
    font-family: var(--primary-font);
}

.box-input {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    flex-basis: 300px;
}

.input input {
    color: var(--second-color-font);
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    border: var(--border);
    font-family: var(--primary-font);
    background-color: var(--primary-background);
}

.button {
    color: var(--primary-color-font);
    background-color: var(--primary-color);
    cursor: var(--cursor);
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 1vw;
}

.box-list {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    /* margin: 20px 0; */
    justify-content: space-evenly;
    align-items: center;
}

.list span:first-child {
    color: var(--primary-color);
    padding: 10px;
    display: block;
    flex-basis: 300px;
    border: 2px solid var(--primary-color);
} 

.selesai {
    text-decoration: line-through;
}


.tampilList {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css untuk icon */
svg[data-slot="icon"] {
    width: 20px;
}

@media screen and (max-width : 576px) {
    body {
        background-color: var(--primary-background);
    }

    .top, .main {
        border: none;
    }

}

@media screen and (max-width :420px) {
    .main {
        width: 100vw;
        font-size: .8rem;
    }

}